<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> List </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-custom.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/all.css" rel="stylesheet">
    <link href="/static/css/list.css" rel="stylesheet">
    <link href="/static/css/icono.min.css" rel="stylesheet">

</head>

<body>
    <main role="main" class="container">
        <canvas id="canvas" width="1024" height="250" style="display: none;"> </canvas>
        <div id=listTitle>
            <a href="/list">
                <h2> List result </h2>
            </a>
        </div>

        <div id=list-form>
            <form action="/list/fetch" method="get" id="list-fetch-form" enctype="multipart/form-data">
                <div>
                    <label for="decode-options">decode results: </label>
                    <select id="decode-options" name="decode-options">
                        {%  for decode in decode_results  %}
                        <option value="{{decode}}">{{decode}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="criterion"> criterion: </label>
                    <select id="er-options" name="criterion">
                        <option value="wer">wer</option>
                        <option value="cer">cer</option>
                    </select>
                </div>
                <div>
                    <label for="quantity">quantity: </label>
                    <select id="quantity" name="quantity">
                        <option value="all">all</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="2500">2500</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                    </select>
                </div>
                <input type="submit" value="submit" name="submit" />
            </form>
        </div>
        <hr>
        <div id=listInfo></div>
        <div id=listWrapper></div>
    </main>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wavesurfer.min.js"></script>
    <script src="/static/js/utility.js"></script>
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/recorder_gui.js"></script>
    <script src="/static/js/jsonViewer.js"></script>
    <script src="/static/js/list.js"></script>
</body>

</html>
