absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
auditok==0.1.8
boto==2.49.0
boto3==1.9.134
botocore==1.12.134
bz2file==0.98
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
conda==4.6.14
cryptography==2.4.2
cycler==0.10.0
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.8
gast==0.2.2
gensim==3.4.0
glob2==0.6
grpcio==1.16.1
h5py==2.9.0
idna==2.8
isort==4.3.16
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10
jmespath==0.9.4
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
numpy==1.16.2
olefile==0.46
pandas==0.24.2
pbr==5.1.3
Pillow==6.0.0
protobuf==3.7.1
pycosat==0.6.3
pycparser==2.19
pydub==0.23.1
pylint==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.4.0
pypinyin==0.35.3
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
regex==2019.4.14
requests==2.21.0
ruamel-yaml==0.15.46
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
smart-open==1.8.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
texttable==1.6.1
torch==1.1.0
torchvision==0.2.2
tornado==6.0.2
tqdm==4.31.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.11.1
