.audioScoreDrawer {
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.audioScoreDrawer > .canvas_area {
  overflow: auto;
  position: relative;
  height: 615px;
}

.audioScoreDrawer > .canvas_area > .audioScoreDrawer_result, .audioScoreDrawer > .canvas_area > .audioScoreDrawer_clickedResult {
  width: 100%;
  height: 550px;
  position: absolute;
  top: 20px;
  left: 0px;
}
