.audioScoreDrawer {
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.audioScoreDrawer > .audioScoreDrawer_result, .audioScoreDrawer > .audioScoreDrawer_clickedResult {
  width: 100%;
  height: 550px;
  position: absolute;
  top: 100px;
  left: 0px;
}
