#listWrapper {
  width: 100%;
}

#listInfo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-item {
  padding-bottom:  30px;
}

.correct {
  /* color: green; */
}

.insert {
  color: blue;
}

.delete {
  /* text-decoration: line-through; */
  color: lightslategrey;
}

.substitution {
  color: red;
}