<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> CTM </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-custom.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/all.css" rel="stylesheet">
    <link href="/static/css/audioScoreDrawer.css" rel="stylesheet">
    <link href="/static/css/icono.min.css" rel="stylesheet">
    <link href="/static/css/audioPlayer.css" rel="stylesheet">

</head>

<body>
    <main role="main" class="container">
        <canvas id="canvas" width="1024" height="250" style="display: none;"> </canvas>
        <div id=resultDiv></div>
    </main>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/wavesurfer.min.js"></script>
    <script src="/static/js/utility.js"></script>
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/recorder_gui.js"></script>
    <script src="/static/js/bufferToWave.js"></script>
    <script src="/static/js/audioPlayer.js"></script>
    <script src="/static/js/audioScoreDrawer.js"></script>
    <script src="/static/js/jsonViewer.js"></script>
    <script src="/static/js/ctm.js"></script>
</body>

</html>
